DB_URL=jdbc:mysql://host.docker.internal:3306/peerfolio
DB_USERNAME=your_username
DB_PASSWORD=your_password

JWT_SECRET=
AI_API_KEY=your_ai_api_key

JWT_EXPIRATION=3600000

CORS_ALLOWED_ORIGINS=http://localhost:3000